doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/shop.css")
    body 
        header    
            nav
                ul
                    li
                        a(href="/") Shop
                    li
                        a(href="/admin/add-product") Add Product
        main
            h1 My Products
            .grid
                if prods.length > 0
                    each product in prods
                        article.card
                            h1 #{product.title}
                            .card__image
                                img(src=product.imageUrl, alt=product.title)
                            .card__content
                                h2 $ #{product.price}
                                p #{product.description}
                            .card__actions
                                button Add to Cart
                else
                    h1 No Products Found!